.block{
	background: url('../Download/KMB37.jpg');
}
html, body {
	color: #000;P
}

.block {}

.block{
	background: url(Download/KMB37.jpg);

	.block {}
.block-item {}
.block-item_link {}